#dashboard_interface_area{
  width: 100%;
  height: 90vh;
  overflow-Y: auto;
  padding: 10px 20px 20px 20px;
  .dashboard_header_area{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    .title{
      font-size: 22px;
      font-weight: 500;
      color: $whColor;
    }
  }
  .dashboard_main_layout_box{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    .dashboard_right_layout{
      .notice_board_box{
        width: 100%;
        height: auto;
        background-color: $sColor;
        margin-top: 20px;
        border-radius: 10px;
        border-radius: 4px;
        overflow: hidden;
        .title{
          font-size: 16px;
          color: $whColor;
          padding: 10px;
          font-weight: 500;
          background-color: $pColor;
        }
        ul{
          li{
            list-style: none;
            a{
              text-decoration: none;
              display: flex;
              flex-direction: row;
              justify-content: start;
              align-items: center;
              gap: 10px;
              border-bottom: 1px solid rgba(156, 156, 156, 0.144);
              padding: 10px;
              transition: all 0.3s;
              .icon{
                font-size: 16px;
                color: $whColor;
                width: 10px;
                height: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $pColor;
                padding: 17px;
                border-radius: 100%;
                transition: all 0.3s;
              }
              .info{
                color: $whColor;
                .sub_title{
                  font-size: 15px;
                  font-weight: 500;
                  display: block
                }
                .time{
                  font-size: 12px;
                  color: $pColor;
                }
              }
              
              &:hover{
                background-color: $pColor;
                .icon{
                  color: $pColor;
                  background-color: $whColor;
                }
                .time{
                  color:#01ff66;
                }
              }
            }
          }
          .notice_see_all_button{
            text-align: center;
            display: block;
            text-decoration: none;
            padding: 10px;
            color: $whColor;
            transition: all 0.3s;
            &:hover{
              color: $pColor;
            }
          }
        }
      }
      .recent_activity_box{
        width: 100%;
        height: auto;
        background-color: $sColor;
        margin-top: 20px;
        border-radius: 10px;
        border-radius: 4px;
        overflow: hidden;
        .recent_activity_header{
          background-color: $pColor;
          padding: 10px;
          .title{
            font-size: 16px;
            color: $whColor;
            font-weight: 500;
          }
        }
        ul{
          li{
            list-style: none;
            a{
              text-decoration: none;
              display: flex;
              flex-direction: row;
              justify-content: start;
              align-items: center;
              color: $whColor;
              gap: 10px;
              padding: 15px;
              border-bottom: 1px solid rgba(255, 255, 255, 0.144);
              transition: all 0.3s;
              .icon{
                font-size: 15px;
                width: 20px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 132, 255, 0.247);
                padding: 13px;
                border-radius: 100%;
                transition: all 0.3s;
              }
              .info{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .textInfo{
                  .sub_title{
                    font-size: 14px;
                  }
                  p{
                    font-size: 10px;
                  }
                }
                .time{
                  font-size: 10px;
                  display: block;
                  text-align: right;
                }
              }
              &:hover{
                background-color: $pColor;
                .icon{
                  background-color: $whColor;
                  color: $pColor;
                }
              }
            }
          }
          .activity_see_all_button{
            color: $whColor;
            display: block;
            text-align: center;
            padding: 10px;
            text-decoration: none;
            transition: all 0.3s;
            &:hover{
              color: $pColor;
            }
          }
        }
      }
      .go_premium_box{
        width: 100%;
        height: 350px;
        background-color: $sColor;
        margin-top: 20px;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        .circle_box{
          border: 15px solid $pColor;
          border-radius: 100%;
          width: 250px;
          height: 250px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          a{
            text-decoration: none;
            font-size: 14px;
            font-weight: 600;
            color: $whColor;
            padding: 10px;
            background-color: #00aa71;
            border-radius: 4px;
            display: block;
          }
        }
      }
    }
  }
  #summery_box_area{
    margin-top: 20px;
    .summury_list_box{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      justify-content: start;
      align-items: center;
      .summery_box{
        padding: 40px 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $sColor;
        .icon_box{
          width: 70px;
          height: 70px;
          background-color: #272A52;
          border-radius: 100%;
          padding: 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          color: $pColor;
        }
        .text_box{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: end;
          .ctgry{
            font-size: 13px;
            color: $whColor;
            font-weight: 500;
          }
          .summury_count{
            font-size: 25px;
            color: $whColor;
          }
          .parcentage{
            font-size: 13px;
            color: #01ff66;
            font-weight: 500;
          }
        }
      }
    }
  }
  #summery_graph_area{
    background-color: $sColor;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    margin-top: 20px;
    .header_summery_graph{
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .select_box{
        select{
          color: $whColor;
          background-color: $sbgColor;
          padding: 10px 20px;
          border: none;
          outline: none;
          border-radius: 4px;
          font-size: 17px;
          font-weight: 500;
          cursor: pointer;
        }
      }
      .summery_status_box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: rgba(221, 221, 221, 0.479);
        margin-top: 30px;
        .month_box{
          i{
            color: #425BD6;
            font-size: 12px;
            margin-left: 7px;
          }
        }
        .last_month_box{
          i{
            color: #02C3EE;
            font-size: 13px;
            margin-left: 7px;
          }
        }
      }
      .summery_title{
        color: $whColor;
        font-size: 18px;
      }
    }
    .summery_counter_box{
      width: 100%;
      height: 300px;
      overflow-y: auto;
      border: 1px solid #425bd63a;
      margin-top: 20px;
      border-radius: 5px;
      padding: 30px 20px 0px;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 5%;
      .counter_box{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .counter{
          width: 9px;
          height: 90%;
          background-color: #425BD6;
          border-radius: 10px 10px 0px 0px;
          position: relative;
          &::after{
            content: "";
            width: 100%;
            position: absolute;
            background-color: #02C3EE;
            height: 70%;
            bottom: 0px;
            left: 0px;
            border-radius: 10px 10px 0px 0px;
          }
        }
        .counter_txt{
          color: rgba(255, 255, 255, 0.699);
          padding: 5px 0px 10px 0px;
          font-size: 12px;
        }
        &:nth-child(1){
          .counter{
            
          &::after{
            height: 60%;
          }
          }
        }
        &:nth-child(2){
          .counter{
            
          &::after{
            height: 80%;
          }
          }
        }
        &:nth-child(3){
          .counter{
            
          &::after{
            height: 70%;
          }
          }
        }
        &:nth-child(4){
          .counter{
            
          &::after{
            height: 90%;
          }
          }
        }
        &:nth-child(5){
          .counter{
            
          &::after{
            height: 85%;
          }
          }
        }
        &:nth-child(6){
          .counter{
            
          &::after{
            height: 95%;
          }
          }
        }
        &:nth-child(7){
          .counter{
            
          &::after{
            height: 55%;
          }
          }
        }
        &:nth-child(8){
          .counter{
            
          &::after{
            height: 75%;
          }
          }
        }
        &:nth-child(9){
          .counter{
            
          &::after{
            height: 85%;
          }
          }
        }
        &:nth-child(10){
          .counter{
            
          &::after{
            height: 35%;
          }
          }
        }
        &:nth-child(11){
          .counter{
            
          &::after{
            height: 59%;
          }
          }
        }
        &:nth-child(12){
          .counter{
            
          &::after{
            height: 79%;
          }
          }
        }
      }
    }
  }
  // recent job application box start
  #recent_job_applications_box{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: $sColor;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    .recent_job_application_header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .title{
        color: $whColor;
        font-size: 17px;
        font-weight: 500;
      }
      .timer_select{
        select{
          background-color: transparent;
          border: 1px solid rgba(255, 255, 255, 0.048);
          outline: none;
          padding: 5px 10px;
          border-radius: 4px;
          color: $whColor;
          text-align: center;
          option{
            background-color: $sColor;
          }
        }
      }
    }
    .job_applicaton_table_box{
      margin-top: 20px;
      table{
        border-collapse: collapse;
        width: 100%;
        thead{
          td{
            color: $whColor;
            font-weight: 500;
            font-size: 17px;
            padding: 20px 10px;
          }
        }
        tbody{
          tr{
            &:hover{
              background-color: rgba(236, 220, 220, 0.055);
            }
          }
          td{
            padding: 20px 10px;
            .categories_box{
              display: flex;
              flex-direction: row;
              justify-content: start;
              align-items: center;
              gap: 15px;
              .icon{
                color: $whColor;
                font-size: 25px;
                background-color: rgb(24, 126, 129);
                width: 40px;
                height: 40px;
                display: flex;
                padding: 20px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
              }
              .categorie{
                color: $whColor;
              }
            }
            .vacancies{
              color: $whColor;
            }
            .country{
              display: flex;
              flex-direction: row;
              justify-content: start;
              align-items: center;
              gap: 10px;
              i{
                color: rgb(255, 182, 182);
                font-size: 17px;
              }
              span{
                color: $whColor;
              }
            }
            .edit{
              display: flex;
              flex-direction: row;
              justify-content: start;
              align-items: center;
              gap: 20px;
              button{
                width: 25px;
                height: 25px;
                border: none;
                outline: none;
                border-radius: 2px;
                cursor: pointer;
                position: relative;
              }
              .done_btn{
                background-color: #00aa71;
                color: $whColor;
                &::after{
                  content: "Accept";
                  position: absolute;
                  top: 25px;
                  left: -10px;
                  background-color:#00aa71;
                  padding: 2px 3px;
                  border-radius: 2px;
                  font-size: 12px;
                  transition: all 0.3s;
                  opacity: 0;
                }
                &:hover{
                  &::after{
                    top: -30px;
                    opacity: 1;
                  }
                }
              }
              .help_btn{
                background-color: $pColor;
                color: $whColor;
                &::after{
                  content: "Information";
                  position: absolute;
                  top: 25px;
                  left: -25px;
                  background-color:$pColor;
                  padding: 2px 3px;
                  border-radius: 2px;
                  font-size: 12px;
                  transition: all 0.3s;
                  opacity: 0;
                }
                &:hover{
                  &::after{
                    top: -30px;
                    opacity: 1;
                  }
                }
              }
              .close_btn{
                background-color: red;
                color: $whColor;
                &::after{
                  content: "Remove";
                  position: absolute;
                  top: 25px;
                  left: -15px;
                  background-color:red;
                  padding: 2px 3px;
                  border-radius: 2px;
                  font-size: 12px;
                  transition: all 0.3s;
                  opacity: 0;
                }
                &:hover{
                  &::after{
                    top: -30px;
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // recent job application box end
}